html, body
{
	margin: 0;
	padding: 0;
}

#game
{
	position: relative;
	height: 200px;
	width: 100px;
	overflow-x: hidden;
	overflow-y: hidden;
}

#game-overlay
{
	position: relative;
	background: rgb(73,80,17);
	background: linear-gradient(180deg, rgba(73,80,17,1) 0%, rgba(9,121,91,1) 20%, rgba(0,212,255,1) 100%);
	padding: 1.5em 0;
	z-index: 10;
}

#game-overlay h1
{
	margin: 0;
	margin-bottom: 12px;
	text-align: center;
	font-family: sans-serif;
}

#overlay-options
{
	text-align: center;
}

#game-overlay .file
{
	width: 100%;
	font-size: 2em;
	display: block;
	background-color: rgba(255, 255, 255, 0.6);
	border: 2px dotted white;
	margin: 4px 0;
	cursor: pointer;
}

#choices
{
	position: absolute;
	border-radius: 15px;
	z-index: 1;
}

#say_msg, #say_name
{
	background-color: rgba(0, 0, 0, 0.45);
	box-shadow: 0 0 5px rgba(140, 255, 140, 0.5);
}

#say_name
{
	position: fixed;
	bottom: 20%;
	left: 10%;
	border-radius: 2px;
	color: white;
	font-size: 1em;
	
	color: white;
	font-family: sans-serif;
	padding: 6px 10px;
}

#say_msg
{
	position: fixed;
	margin-top: 81vh;
	height: 15vh;
	left: 10%;
	width: 80%;
	border-radius: 2px;
}

#say_msg:hover
{
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 5px rgba(255, 255, 255, 1);
}

#say_msg, .choice
{
	color: white;
	font-family: sans-serif;
	padding: 6px 10px;
	z-index: 1;
	cursor: pointer;
}

#say_input
{
	display: inline-block;
	font-style: italic;
	background: rgba(20, 20, 20, 0.4);
	border: thin solid white;
	width: 200px;
	cursor: default;
}

.choice
{
	background-color: rgba(0, 0, 0, 0.45);
	box-shadow: 0 0 5px rgba(140, 255, 140, 0.5);
	padding: 10px 0;
	border-radius: 5px;
	font-style: italic;
	text-align: center;
}

.choice:hover
{
	font-weight: bold;
}

.sprite
{
	position: absolute;
}

/* Live2D Sprite */
.ws-live2d
{
	position: absolute !important;
	z-index: 1;
}

/* Custom Menu */
#custom-menu
{
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

#custom-menu li
{
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
    user-select: none;
}

#custom-menu li:hover
{
    background-color: #DEF;
}